<h1>Vision Charts</h1>
<div visionChart></div>

<div visionChart [lsConfig]="stacked" [data]="stackedData" [chartType]="'stackedBar'"></div>
<div visionChart [lsConfig]="bar" [data]="barData" [chartType]="'simpleBar'"></div>
<div visionChart [lsConfig]="horizontal" [data]="barData" [chartType]="'horizontalBar'"></div>
<div visionChart [lsConfig]="groupedBar" [data]="groupedData" [chartType]="'groupedBar'"></div>
<div visionChart [lsConfig]="area" [data]="areaData" [chartType]="'areachart'"></div>
<div visionChart [lsConfig]="areaNumber" [data]="areaData" [chartType]="'areachart'"></div>
<div visionChart [lsConfig]="donut" [data]="donutData" [chartType]="'donut'"></div>
<div visionChart [lsConfig]="pie" [data]="donutData" [chartType]="'pie'"></div>
<div visionChart [lsConfig]="pieLabels" [data]="donutData" [chartType]="'pieLabels'"></div>
<div visionChart [lsConfig]="line" [data]="lineData" [chartType]="'lineChart'"></div>
<div visionChart [lsConfig]="linePoints" [data]="multiseriesData" [chartType]="'multiseriesLine'"></div>
<div visionChart [lsConfig]="multiseries" [data]="multiseriesData" [chartType]="'multiseriesLine'"></div>
<div visionChart [lsConfig]="scatter" [data]="scatterData" [chartType]="'scatterplot'"></div>
<div visionChart [lsConfig]="scatterColor" [data]="scatterData" [chartType]="'scatterplotColored'"></div>
<div visionChart [lsConfig]="histogram" [data]="histogramData" [chartType]="'histogram'"></div>
<div visionChart [lsConfig]="heatmap" [data]="histogramData" [chartType]="'heatmap'"></div>
<div visionChart [lsConfig]="stream" [data]="areaData" [chartType]="'stream'"></div>

